body {
margin: 0px;
/*background-color: #87faa9;*/
background-image: url(fon.jpg);
/*background-repeat: no-repeat;*/
background-size:cover;
width:100%;
}
.layout {
width: 80%;
background-color: #f8faed;
margin: 0 auto 10px;
font-family: cursive;

}
.sidebar {
width: 30%;
background-color: #f8faed;
float: right;
text-align: left;
/*padding: 10px;*/
font-size: 14px;
margin: 10px 5% 20px 5px;
/*border: 3px solid rgb(252, 15, 39);*/
}
.content {
margin: 10px 40% 20px 5px;
padding:10px;

}
.footer {
border-top: 3px solid rgb(252, 15, 39);
padding: 10px;

}
a {
text-decoration: none;
}

img {
width:30%;
}


table, th, td {
border: 2px solid rgb(15, 15, 15, 0.4);
border-collapse: collapse;
font-size: 15px;
margin: 10px 40% 20px 10px;
}

th {
font-weight: normal;
padding: 8px;
width: 60%;
}
td {
padding: 6px;
text-align: center;
width: 100%;
}
p,p2,p3,p4 {
font-size: 18px;
width: 100%;
}

ul{
list-style-type: circle;
margin: 10px 20% 20px 10px;
}
.navi {
display: block;
margin: 10px 5px 20px 5%;
}
.navi ul {
padding: 10px 0;
background-color: #f8faed;
list-style: none;
margin: 10px 5% 20px 5%;
}

.navi a {
color: black;
padding: 2%;
background-color: #78eb7b;
border-left: 3px solid;
margin: 10px 5% 20px 5%;
}
.navi a:hover{
background-color: #05fc0d;
margin: 10px 1% 20px 1%;
}
.navi li {
/*display: inline;*/
margin: 0 1%;
margin: 6% 5px 6% 5px;
}


